html{
    font-family: 'Times New Roman';
    background: rgb(146, 234, 244);
    margin: 0;
}

.flexbox_grid{
    display:flex;
    justify-content: space-around;
}

.column_1{
    flex:1;
    padding: 0 20px
}

h1{
    color: rgb(255, 255, 255);
}

h2{
    text-align: center;
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

.center{
    text-align: center;
}

.pill{
    display:flex;
    align-items: center;
    justify-content:space-between;
    background: #151d9a;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    width:90%;
    height:60px;
    margin: 0 auto;
}

img{
    width: 50%;
    padding-left: 25%;
    align-items: center;
}

div{
    background-color: aquamarine;
}