html{
    font-family: 'Times New Roman';
    background: rgb(253, 254, 246);
    margin: 0;
}

.flexbox_grid{
    display:flex;

}

.column_1{
    flex:1;
}

.column_2{
    flex:3;
}

.pill{
    display:flex;
    align-items: center;
    justify-content:space-between;
    background: #646ce3;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    width:90%;
    height:60px;
}